/*************旅游景点信息****************/
/*******添加旅游信息************/
.w-e-text-container {
    height: 120px !important; /*!important是重点，因为原div是行内样式设置的高度300px*/
}
form{
    height: 650px;
    border: solid 1px #d2d2d2;
    text-align:center;
}
input,select{margin-top:2px;}
.main-top{
    width: 100%;
    height: 40px;
    border: solid 1px #dddddd;
    background-color: #d2d2d2;
    line-height: 40px;
    float: left;
}
#table_a{
    width: 20%;
    height: 245px;
    text-align: right;
    margin-left: 25%;
    margin-right: 30px;
    float: left;
}
#table_b{
    width: 20%;
    height: 245px;
    text-align: left;
    float: left;
}
.table_a_1{
    width: 100%;
    height: 35px;
    line-height:40px;
    margin-top: 5px;
}

.table_a_3{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    line-height:30px;
}
.el-input{
    width: 200px;
    height: 30px;
    line-height:30px;
    margin-top: 5px;
}
.go-button{}

/*******旅游信息列表************/